<div class="container">
    <div class="row justify-content-between">
        <div class="col-12">
            <p class="robo_bold_16">Open Voice OS</p>
        </div>
        <div class="col-lg-3 col-md-4">
            <p class="robo_reg_12 foot_para">OpenVoiceOS is a community-driven, open-source voice AI platform for
                creating custom voice-controlled interfaces across devices with NLP, a customizable UI, and a focus on
                privacy and security.</p>
        </div>
        <div class="col-lg-3 col-md-4 col-6 foot_links_wrap">
            <ul class="foot_links_list">
                <li>
                    <a href="https://openvoiceos.org/">Home</a>
                </li>
                <li>
                    <a href="https://openvoiceos.org/blog/">Blog</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <ul class="foot_social_list">
                <li>
                    <a href="https://matrix.to/#/!XFpdtmgyCoPDxOMPpH:matrix.org?via=matrix.org"><i
                            class="fab fa-gitter"></i>Gitter (Chat)</a>
                </li>
                <li>
                    <a href="https://github.com/openVoiceOS/"><i class="fab fa-github"></i>Github</a>
                </li>
                <li>
                    <a href="https://openvoiceos.github.io/community-docs/"><i class="fas fa-book"></i>Documentation</a>
                </li>
            </ul>
        </div>
    </div>
</div>